.tiptap {
  p {
    @apply my-4 first:mt-0 last:mb-0 text-base leading-relaxed;
  }

  h1 {
    @apply text-3xl font-bold mt-8 mb-4 first:mt-0 last:mb-0;
  }
  padding: 2px;
  background-color: Lavender;
  border-style: groove
  place-content: center;
  min-height: 97vh;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2px;
  text-align: left;
}

.center {
  margin: auto;
  width: 100%;
  border: 3px solid green;
  padding: 2px;
}

.response-box {
  margin-top: 1em;
  border: 1px solid #555;
  border-radius: 2px;
  padding: 5px;
  height: 100%
  overflow-y: scroll;
  text-wrap: wrap;
  background-color: #F0F8FF;
}

 .toggle-btn {
  border: 2px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  align: center;
  background-color: lightgray
}

.toggle-btn:hover {
  background-color: Violet;
}

.scrollable-response {
  margin-top: 1em;
  overflow-y: scroll;
  overflow-x: auto;
  border-radius: 8px;
  padding: 20px;
  white-space: pre-wrap;
  line-height: 1.4;
  width: 700px;
  height: 70vh;
}

.scrollable-response::-webkit-scrollbar {
  width: 20px;
  text-wrap: wrap;
}

.scrollable-response::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

<button
  :class="{ 'is-active': editor.isActive('bold') }"
  @click="editor.chain().focus().toggleBold().run()"
>
  Bold
</button>

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2px;
  font-size: 15px
  width: 100%;
  height: 120%
  background-color: ghostwhite;
}

.read-the-docs {
  color: #888;
}

/* Global styling */
p {
  margin: 10px;
}

pre{
    text-wrap: wrap;
    whiteSpace: "pre-wrap",
    background: "#f8fafc",
    padding: "1rem",
    borderRadius: "8px",
    lineHeight: 1.6,
}