/* Tabs.css */
.tabs-container {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  border-style: groove;
}

.tab-content {
  padding: 2px;
  border-width: 1px;
  background-color: GhostWhite;
}

.tab-buttons {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab-button {
  padding: 5px 10px;
  border: none;
  background-color: GhostWhite;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.tab-button.active {
  border-bottom: 2px solid blue;
  background-color: Violet;
  border: groove
}